<div class="area-about row" id="about">
  <div class="col-sm-12 col-md-12 col-lg-6">
    <%= image_tag("liana.png", :class => "img_about") %>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="text-about text-left">
      <h2>Qui suis-je ?</h2><br>
      
      <p class="lead">Moi c'est Liana et j'ai décidé de révolutionner le conseil en orientation en vous connectant à la réalité des études et du monde professionnel.</p>

      <p>Vous êtes perdus et souvent seuls face aux choix d'orientation. Les métiers évoluent constamment, vous ne savez pas quelles options choisir, les vœux sur Parcoursup vous stressent...</p>

      <p>Bref, tout est flou.</p>
      
      <p>Après avoir passé 10 ans à orienter les carrières de mes salariés, de leur recrutement à leur mobilité, j'ai décidé de construire avec les jeunes leur parcours d'orientation. De l'orientation au lycée en passant par la réorientation dans le supérieur, le décrochage scolaire et la reconversion professionnelle; mon expérience de Responsable RH ainsi que mon réseau vont nous permettre d'y voir clair.</p>
    </div>
  </div>
</div>