<div class="grey-area text-center" id="feedbacks">
  <br><br>
  <h2>L'avis des client.e.s</h2>

  <div class="container">
    <div class="card card-feedbacks border-0">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <%= image_tag("elea.png", :class => "img-feedback") %>
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Elea</h5>
            <p class="card-text mx-2">« Les profs et la famille ne sont pas toujours les pros de la motivation. Sans parler de la pression que tout le monde te met. en barque m'a permis de voir les choses différemment. On a parlé de mes forces, mes réussites et mes valeurs. Et ça fait du bien! Ça a donné un tournant à ma terminale et mes choix dans Parcoursup ! »</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-feedbacks border-0">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <%= image_tag("robin.png", :class => "img-feedback") %>
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Robin</h5>
            <p class="card-text mx-5">« On est souvent seul face à un adulte quand on parle d'orientation. Mais là c'est différent. Le groupe tire tout le monde vers le haut. Nous avons vécu une belle expérience c'était très fort. »</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-feedbacks border-0">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <%= image_tag("enfin2.png", :class => "img-feedback") %>
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Chlotilde</h5>
            <p class="card-text mx-3">« Enfin un accompagnement sur les sujets d'orientation qui change! en barque apporte ce qu'il peut manquer aujourd'hui avec nos conseiller.e.s d'orientation : du concret. Nos enfants parlent à des étudiants et des professionnels, rien de mieux pour se projeter et avoir une idée de la réalité. »</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-feedbacks border-0">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <%= image_tag("plaisir.jpg", :class => "img-feedback") %>
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title">Mélanie</h5>
            <p class="card-text mx-5">« Je n'ai jamais vu mon fils sortir d'un rendez-vous avec la conseillère d'orientation en souriant... Il en sortait plutôt même perdu. Avec en barque c'était différent, il y allait avec plaisir et trouvait des pistes à explorer. »</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br><br>
</div>