<div class="jumbotron jumbotron-fluid background-image">
  <h1 class="header-jumbotron display-6 mt-5">En barque vers le plaisir de travailler</h1>
  <h3 class="lead-jumbotron lead mt-4">Deviens le capitaine de ton avenir !</h3> 
</div>
