<div class="jumbotron jumbotron-fluid background-image text-left">
  <div class="area-jumbotron">
    <h1 class="header-jumbotron display-6">Coach et conseil en orientation scolaire et professionnelle</h1>
    <h3 class="lead-jumbotron lead">Deviens le capitaine de ton avenir !</h3> 

    <a href="https://calendly.com/liana-enbarque/1er-rendez-vous-faisons-connaissance?month=2021-02" target="_blank" class="btn btn-light btn-lg mr-2">Prendre un 1er RDV gratuit</a>
    <a href="#contact" class="btn btn-primary btn-lg mr-2">Prendre contact</a>
  </div>
</div>