<div class="jumbotron jumbotron-fluid background-image text-left">
  <div class="area-jumbotron">
    <h1 class="header-jumbotron display-6">En barque vers le plaisir de travailler</h1>
    <h3 class="lead-jumbotron lead">Deviens le capitaine de ton avenir !</h3> 
    <button class="btn btn-light btn-lg">Prendre contact</button>
  </div>
</div>