<div class="grey-area text-center" id="presentation">
  <br><br>
  <div class="text-area">
    <h2>Bienvenue chez en barque...</h2>
    <h3>On y va !</h3>
  </div>
  
  <div class="embedresize mt-5">
    <iframe width="700" height="460" src="https://www.youtube.com/embed/wI6sBCweFDE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <br><br>
</div>