<div class="container mt-5 text-center">
  <h2>Nos accompagnements</h2>
  <div class="card-deck text-center mt-5 mx-2">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Accompagnement individuel</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">Conseil en orientation</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1er rendez-vous parents/enfant</li>
          <li>5 rendez-vous en visio ou présentiel avec le jeune</li>
          <li>restitution du dossier de fin</li>
        </ul>
        <p>en barque continue le suivi si besoin pendant 2 mois pour la motivation !</p>
        <p>Option : CV et lettre de motivation pour Parcoursup : 150 euros</p>
        <h5 class="card-title pricing-card-title">450 €</h5>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Séminaire d'orientation</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">Conseil en orientation</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>1er rendez-vous parents/enfant</li>
          <li>3 grandes demi-journées en présentiel avec le groupe de jeunes dans une entreprise parisienne</li>
          <li>restitution du dossier de fin</li>
        </ul>
        <p>en barque continue le suivi si besoin pendant 2 mois pour la motivation !</p>
        <p>Option : CV et lettre de motivation pour Parcoursup : 150 euros</p>
        <h5 class="card-title pricing-card-title">400 €</h5>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Décrochage scolaire</h5>
      </div>
      <div class="card-body">
        <h5 class="card-title pricing-card-title">Conseil en orientation</h5>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Trouver sa voie.</li>
          <li>Aimer son métier c'est possible oui!</li>
          <li>Le nombre de <strong>séance de coaching</strong> varie (mais pas le prix!) en fonction du besoin et de la carrière de la personne.</li>
        </ul>
        <p>Contactez moi pour avoir plus de détails sur cet accompagnement.</p>
        <h5 class="card-title pricing-card-title">500 €</h5>
      </div>
    </div>
  </div>
  <br><br>
</div>