<div class="text-center" id="services">
  <br><br>
  <h2>Nos accompagnements</h2>

  <div class="row cards-services mt-5">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-services-top shadow-sm">
        <div class="card-header">
          <h5 class="font-weight-normal">Conseil individuel</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <i class="fas fa-user display-4 my-3"></i>
          <ul class="my-3 text-left">
            <li>1 rendez-vous parents/enfant</li>
            <li>5 rendez-vous en visio ou présentiel avec le jeune</li>
            <li>Exercices de <strong>développement personnel</strong> (test de personnalité, travail sur les valeurs, qualités, les rêves, les projets et la confiance en soi)</li>
            <li><strong>Rencontres</strong> avec des étudiants et des professionnels</li>
            <li>Restitution d'un <strong>bilan d'orientation</strong></li>
          </ul> 
          <h5 class="card-title pricing-card-title mt-auto">450 €</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-services-top shadow-sm">
        <div class="card-header">
          <h5 class="font-weight-normal">Séminaire d'orientation</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <i class="fas fa-users display-4 my-3"></i>
          <ul class="my-3 text-left">
            <li>1 rendez-vous parents/enfant</li>
            <li>3 grandes demi-journées en présentiel avec le groupe de jeunes dans une entreprise parisienne : <strong>Rencontres</strong> de professionnels et étudiants, exercices de <strong>développement personnel</strong>...</li>
            <li>Restitution du <strong>dossier d'orientation</strong></li>
          </ul>
          <h5 class="card-title pricing-card-title mt-auto">400 €</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-services-top shadow-sm">
        <div class="card-header">
          <h5 class="font-weight-normal">Décrochage & réorientation scolaire</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <i class="fas fa-map-signs display-4 my-3"></i>
          <ul class="my-3 text-left">
            <li>Trouver sa voie</li>
            <li>Aimer son (futur) métier c'est possible!</li>
            <li>Le nombre de <strong>séances de coaching</strong> varie (mais pas le prix!) en fonction du besoin et de la carrière de la personne.</li>
          </ul>
          <p>Contactez-nous pour avoir plus de détails sur cet accompagnement.</p>
          <h5 class="card-title pricing-card-title mt-auto">550€</h5>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-6">
      <div class="card card-services-bottom shadow-sm">
        <div class="card-header">
          <h5 class="font-weight-normal">ParcourSup</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <i class="far fa-compass display-4 my-4"></i>
          <ul class="my-3 text-left">
            <li>Le choix d'un maximum de formation pour <strong>maximiser vos chances</strong></li>
            <li>La rédaction (avec vous) de toutes les rubriques pour avoir un profil bien rempli et <strong>faire la différence</strong></li>
            <li>La rédaction (avec vous) de chacun de vos <strong>projets motivés</strong></li>
          </ul>
          <div class="bottom-card mt-auto">
            <h5 class="card-title pricing-card-title">250 €</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card card-services-bottom shadow-sm">
        <div class="card-header">
          <h5 class="font-weight-normal">Préparation Oraux/Entretiens</h5>
        </div>
        <div class="card-body d-flex flex-column">
          <i class="fas fa-comment display-4 my-4"></i>
          <ul class="my-3 text-left">
            <li>Savoir <strong>parler de soi</strong> et de <strong>son projet</strong></li>
            <li><strong>Convaincre</strong> le jury du choix de l'école visée</li>
            <li><strong>Convaincre</strong> en entretien de stage / alernance / emploi</li>
            <li>Gagner en <strong>aisance oratoire</strong> et en pouvoir de <strong>conviction</strong></li>
          </ul>
          <div class="bottom-card mt-auto">
            <h5 class="card-title pricing-card-title">250 €</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>
</div>