<div class="container">
  <h3>Nouveau message reçu sur le site !</h3>
  <p>Envoyé par : <%= @name %></p>
  <p>Adresse email : <%= @email %></p>
  <p>Numéro de téléphone : <%= @phone_number %></p>
  <p>Message : <%= @body %></p>
</div>