<footer class="grey-area text-center">
  <br>
  <div class="mb-3">
    <%= link_to "https://www.instagram.com/enbarque_orientation/", target: :_blank do %>
    <i class="fab fa-instagram text-muted mr-2"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/enbarqueorientation/", target: :_blank do %>
    <i class="fab fa-facebook text-muted mr-2"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/company/enbarque-orientation/", target: :_blank do %>
    <i class="fab fa-linkedin text-muted"></i>
    <% end %>
  </div>
   
  <small class="d-block mb-3 text-muted">&copy; 2021 par en barque orientation</small>
  <br><br>
</footer>